<h2>News</h2>

<div class="row">
	<div class="col-md-6">
		<div class="card mb-3">
  			<div class="card-body">
    			<h5 class="card-title">Task 1</h5>
    				<p class="card-text">A sharp surge among financials, metals as well as FMCG names, especially in the last hour of trade, ensured that the market managed to close the week with good gains. The Nifty managed to clock 10,800 during the session and closed above the psycholocial mark. For the week, indices posted gains of around 1 percent.</p>
  			</div>
  		</div>
	</div>
	<div class="col-md-6">
		<div class="card mb-3">
  			<div class="card-body">
    			<h5 class="card-title">Task 2</h5>
    				<p class="card-text">A sharp surge among financials, metals as well as FMCG names, especially in the last hour of trade, ensured that the market managed to close the week with good gains. The Nifty managed to clock 10,800 during the session and closed above the psycholocial mark. For the week, indices posted gains of around 1 percent.</p>
  			</div>
  		</div>
	</div>
</div>